* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(180deg, #363457 0%, rgba(40, 29, 79, 0.8) 100%);
}